@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-purple1/70 text-white;
}

body {
  @apply bg-background font-Inter;
  scroll-behavior: smooth;
}

.section {
  width: 100%;
}

.cont {
  @apply mx-auto max-w-[1320px] p-5;
}

.br {
  @apply border-2 border-red-500;
}

.polygon {
  background-image: url(../components/SVGs/polygon.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
}

.geometry {
  background-color: #755eff;
  background-image: url("../public/images/geometry-bg.png");
}

.teste {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

  position: absolute;
  left: 0px;
  width: 600px;
  height: 100%;
  background-color: #765effd3;
  background-image: url("../public/images/geometry-bg.png");
}
